---
layout: home
title: MVASTAGE
---

<center><h2> The latest in tinfoil hat fashion.<br>Mostly keyboards, sometimes, Apple, always tech.</h2></center><br>
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h1 class="post-title">{{ post.title }}</h1>
    {% if post.image.thumb %}<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}"<img src="{{ site.urlimg }}{{ post.image.thumb }}" class="alignleft" width="150" height="150"></a>{% endif %}

	  {% if post.subtitle %}
	  <h2 class="post-subtitle">
	    {{ post.subtitle }}
	  </h2>
	  {% endif %}
    {% if post.image.thumb %}<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" ><img src="{{ site.urlimg }}{{ post.image.thumb }}" class="alignleft" width="150" height="150"></a>{% endif %}
    <p>
        {% if post.meta_description %}{{ post.meta_description | strip_html | escape }}{% else post.teaser %}{{ post.teaser | strip_html | escape }}{% endif %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}" title="Read {{ post.title | escape_once }}"><strong>{{ site.data.language.read_more }}</strong></a>
    </p>
    </a>

    <p class="post-meta">
      {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry">
    {{ post.content }}
    </div>

   </article>
  {% endfor %}
</div>
<br>
<br>
{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
